#!/usr/bin/env bash

# dot_Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}
set -e

brew bundle --file={{ joinPath .chezmoi.sourceDir "dot_Brewfile" | quote }}

if [ ! -d "/Users/{{ .username }}/.oh-my-zsh" ]; then
    export ZSH="/Users/{{ .username }}/.oh-my-zsh"
    export RUNZSH="no"
    export CHSH="yes"
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
fi
